*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    color: $color-gray
    padding: 5rem
    background: $color-white

.container
    background-color: #f7f7f7
    width: 114rem
    position: relative
    /* z-index подобран экспериментальным путем, иначе не работает анимация. По идее, он должен быть -3, чтобы не перекрывать видео и градиент для видео */
    z-index: 0
