@charset "UTF-8";
/* Цвет текста */
/* основные цвета сайта */
/* черный и белый цвета сайта */
/* тень для кнопок */
/* тень для заголовка */
/* вертикальный отступ большой */
/* ширина сетки */
/* отступ между колонками */
/* размер текста */
/* Стили ссылок */
/* clearfix для float */
/* Grid */
/* Создаем миксин с медиаправилом. В аргументе миксина указываются несколько брекпоинтов (названия произвольные):
 *  - phone
 *  - tab-port
 *  - tab-land
 *  - big-screen
 *       */
/* Анимация перемещения слева направо */
@-webkit-keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Анимация перемещения сверху вниз */
@-webkit-keyframes upToDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes upToDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Анимация перемещения снизу вверх */
@-webkit-keyframes downToUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes downToUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Анимация для кнопки (перемещение вверх) */
@-webkit-keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Анимация для заголовка h2-move */
@-webkit-keyframes headerMove {
  0% {
    opacity: 0;
    letter-spacing: 2rem;
  }
  100% {
    opacity: 1;
    letter-spacing: 1rem;
  }
}
@keyframes headerMove {
  0% {
    opacity: 0;
    letter-spacing: 2rem;
  }
  100% {
    opacity: 1;
    letter-spacing: 1rem;
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Поскольку используем max-width, то медиаправила записываются от большего разрешения к меньшему и в конце пишется правило под min-width */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  color: #777777;
  padding: 5rem;
  background: #FFFFFF;
}

.container {
  background-color: #f7f7f7;
  position: relative;
  /* z-index подобран экспериментальным путем, иначе не работает анимация. По идее, он должен быть -3, чтобы не перекрывать видео и градиент для видео */
  z-index: 0;
}

body {
  font-family: roboto;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-first {
  color: #FFFFFF;
  font-family: "Roboto";
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  -webkit-animation-name: upToDown;
          animation-name: upToDown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1;
          animation-delay: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 1240px) {
  .title-first__main {
    font-size: 4rem;
  }
}
@media (max-width: 900px) {
  .title-first__main {
    font-size: 3.6rem;
    letter-spacing: 0.5rem;
    margin-bottom: 0;
  }
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  -webkit-animation-name: downToUp;
          animation-name: downToUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1;
          animation-delay: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  margin-bottom: 5rem;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 1240px) {
  .title-first__secondary {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 900px) {
  .title-first__secondary {
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
  }
}

.title-secondary {
  text-align: center;
  display: inline-block;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 1240px) {
  .title-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 900px) {
  .title-secondary {
    letter-spacing: 0.6rem;
  }
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.title-secondary_white {
  color: #FFFFFF;
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 1240px) {
  .title-third {
    font-size: 1.8rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
  font-weight: 400;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 1240px) {
  .paragraph {
    font-size: 1.5rem;
  }
}

/* Заголовок h2-move */
.title-secondary-move {
  text-align: center;
  display: inline-block;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-name: headerMove;
          animation-name: headerMove;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 1;
          animation-delay: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.title-secondary-move:hover {
  letter-spacing: 1.5rem;
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

/* выравнивание текста в обертке */
.text-align-center {
  text-align: center;
}

/* отступы */
.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .margin-bottom-50px {
    margin-bottom: 7rem;
  }
}

.margin-bottom-80px {
  margin-bottom: 8rem;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .margin-bottom-80px {
    margin-bottom: 5rem;
  }
}

.btn {
  /* по селектору & свойства будут применяться к классу btn в любых тегах, а по псевдоклассам :link и :visited - к тегу a*/
}
.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  background: #FFFFFF;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  border: none;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 1240px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.8rem;
    padding: 1.5rem 2.5rem;
  }
}
@media (max-width: 900px) {
  .btn, .btn:link, .btn:visited {
    padding: 2rem 5rem;
  }
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 1s;
}
.btn_animated {
  -webkit-animation: btnToUp 0.5s ease-out 0.7s;
          animation: btnToUp 0.5s ease-out 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn_brown, .btn_brown:link, .btn_brown:visited {
  background: #BA8554;
  color: #FFFFFF;
}
.btn_brown::after {
  background: #BA8554;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #BA8554;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #BA8554;
  display: inline-block;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.btn-text:hover {
  background-color: #BA8554;
  color: #FFFFFF;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  top: 0;
  left: 0;
}
.composition__photo_n2 {
  top: 2rem;
  right: 0;
}
.composition__photo_n3 {
  top: 13rem;
  left: 10rem;
}
.composition__photo:hover {
  outline: 1rem solid #BA8554;
  transform: scale(1.1);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.adventure-card {
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.2s;
}
.adventure-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.adventure-card__icon {
  font-size: 6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.card-tour {
  height: 50rem;
  /* эффект приближения-отдаления сторон карточки при перевороте */
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .card-tour {
    height: auto;
  }
}
.card-tour__side {
  height: 50rem;
  /* ease-out - притормаживает в конце трансформации */
  transition: 0.5s all ease-out;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .card-tour__side {
    height: auto;
    position: relative;
    padding-bottom: 13rem;
  }
}
.card-tour__side_back {
  background: linear-gradient(156.85deg, #BA8554 3.65%, #A14F03 100%);
  transform: rotateY(180deg);
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .card-tour__side_back {
    transform: rotate(0deg);
    padding: 5rem;
    padding-top: 12rem;
    margin-top: -11rem;
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  }
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .card-tour:hover .card-tour__side_front {
    transform: rotate(0deg);
  }
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
.card-tour__img {
  /* наложение фильтра на изображение */
  background-blend-mode: hard-light;
  height: 21rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.card-tour__img_1 {
  background: #BA8554 url(../img/card-1.jpg) center/cover no-repeat;
}
.card-tour__img_2 {
  background: #BA8554 url(../img/card-2.jpg) center/cover no-repeat;
}
.card-tour__img_3 {
  background: #BA8554 url(../img/card-3.jpg) center/cover no-repeat;
}
@media (max-width: 900px) {
  .card-tour__img {
    height: 30rem;
  }
}
.card-tour__title {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 17rem;
  right: 0;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .card-tour__title {
    top: 25rem;
    font-size: 3.8rem;
  }
}
.card-tour__span {
  background: linear-gradient(90deg, #BA8554, #A14F03);
  padding: 1rem 2rem 0.3rem 2rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3.3rem;
  right: 0;
  padding-bottom: 1rem;
  padding-top: 0;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .card-tour__span_2 {
    top: 4.5rem;
  }
}
.card-tour__descr ul {
  list-style: none;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.card-tour__descr ul li {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #777777;
  border-bottom: 1px solid #777777;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.card-tour__descr ul li:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 1240px) {
  .card-tour__descr ul li {
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  .card-tour__descr ul li {
    font-size: 2rem;
  }
}
.card-tour__backSide-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .card-tour__backSide-box {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    text-align: center;
  }
}
.card-tour__text {
  margin-bottom: 8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.card-tour__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.card-tour__text_2 {
  font-size: 6rem;
  font-weight: 500;
}

.feedBack-card {
  width: 85%;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(330deg);
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .feedBack-card {
    transform: skewX(350deg);
    padding: 3rem;
  }
}
.feedBack-card > * {
  transform: skewX(-330deg);
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .feedBack-card > * {
    transform: skewX(-350deg);
    text-align: center;
  }
}
.feedBack-card__img {
  width: 15rem;
  height: 15rem;
  float: left;
  border-radius: 100rem;
  /* обтекание текста (настроено с clip-path)*/
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .feedBack-card__img {
    /* Отменяем float-позиционирование */
    float: none;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
.feedBack-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}
.feedBack-card__name {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: all 0.5s;
}
.feedBack-card:hover .feedBack-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedBack-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* object-fit подстраивает размер изображения под контейнер сохраняя пропорции */
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7), rgba(0, 0, 0, 0.7));
}

.book {
  height: 50rem;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 57%, rgba(186, 133, 84, 0.8) 57.1%, rgba(161, 79, 3, 0.9) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .book {
    background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 507%, rgba(186, 133, 84, 0.8) 57.1%, rgba(161, 79, 3, 0.9) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  }
}

.form {
  width: 70%;
  padding-top: 5rem;
  padding-left: 5rem;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* Внутренняя точка появится когда radiobutton будет выбран */
}
@media (max-width: 900px) {
  .form {
    width: 100%;
    padding-top: 3rem;
    padding-left: 0rem;
  }
}
.form__group:not(:last-child) {
  margin-bottom: 3rem;
}
.form__group:nth-child(4) {
  margin-bottom: 4rem;
}
@media (max-width: 1240px) {
  .form__group:not(:last-child) {
    margin-bottom: 0rem;
  }
  .form__group:nth-child(4) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 900px) {
  .form__group:not(:last-child) {
    padding-left: 3rem;
  }
  .form__group:nth-child(5) {
    text-align: center;
  }
}
.form__input {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #000000;
  padding: 1.5rem 0rem 1.5rem 2rem;
  background: #FFFFFF;
  border: none;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.5rem;
  width: 55%;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .form__input {
    width: 90%;
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  }
}
.form__input:focus {
  outline: none;
  border-bottom: 0.2rem solid green;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.form__input:focus:invalid {
  border-bottom: 0.2rem solid red;
}
.form__label {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  display: block;
  /* Марджины сверху и слева лучше не делать */
  margin-top: 1rem;
  margin-left: 1.5rem;
  transition: all 0.7s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input-radio {
  display: none;
}
.form__group-radio {
  display: inline-block;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.form__group-radio:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 1240px) {
  .form__group-radio {
    display: block;
  }
  .form__group-radio:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.form__label-radio {
  /* При наведении стрелка поменяется на руку */
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__button-radio {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.3rem solid #A14F03;
  display: block;
  position: absolute;
  left: 0rem;
  top: -0.4rem;
}
.form__button-radio::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #A14F03;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s all;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.navigation {
  /* Переключатель toggle нужен для того, чтобы меню открывалось и закрывалось по нажатию на кнопку. Видимость ему не нужна */
  /* При срабатывании псевдокласса :checked идет обращение к соседнему элементу background. Делаем видимым фон меню */
  /* Делаем видимым меню */
  /* Гамбургер */
  /* Наводим на button и влияем на псевдоэлемент before */
  /* Сделать из гамбургера крестик, когда меню открыто */
}
.navigation__toggle {
  display: none;
}
.navigation__button {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: #FFFFFF;
  position: fixed;
  top: 10rem;
  right: 10rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .navigation__button {
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  }
}
.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  top: 11rem;
  right: 11rem;
  z-index: 100;
  transition: all 0.3s;
  /* transform: scale(80) */
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  transition: all 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: 0;
  opacity: 0;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.navigation__item {
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 5rem;
}
.navigation__link:link, .navigation__link:visited {
  font-size: 4rem;
  color: #FFFFFF;
  letter-spacing: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-size: 220%;
  padding: 1rem 2rem;
  transition: all 0.4s;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #A14F03;
  transform: translateX(1rem);
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__icon {
  position: relative;
  margin-top: 3.7rem;
  /* Отрисовка средней полоски и размеры для верхней и нижней */
  /* Отрисовка верхней полоски */
  /* Отрисовка нижней полоски */
}
.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  width: 3rem;
  height: 0.2rem;
  background: #000000;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.row:not(:last-child) {
  margin-bottom: 8rem;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .row:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1240px) {
  .row {
    max-width: 90.1rem;
  }
}
@media (max-width: 900px) {
  .row {
    max-width: 60rem;
  }
}

.col-1-of-2 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 1240px) {
  .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 2rem) / 2) + (1 - 1) * 2rem);
  }
  .col-1-of-2:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 900px) {
  .col-1-of-2 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-1-of-3 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 1240px) {
  .col-1-of-3 {
    width: calc(1 * ((100% - (3 - 1) * 2rem) / 3) + (1 - 1) * 2rem);
  }
  .col-1-of-3:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 900px) {
  .col-1-of-3 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-2-of-3 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-2-of-3:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 1240px) {
  .col-2-of-3 {
    width: calc(2 * ((100% - (3 - 1) * 2rem) / 3) + (2 - 1) * 2rem);
  }
  .col-2-of-3:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 900px) {
  .col-2-of-3 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-1-of-4 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 1240px) {
  .col-1-of-4 {
    width: calc(1 * ((100% - (4 - 1) * 2rem) / 4) + (1 - 1) * 2rem);
  }
  .col-1-of-4:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 900px) {
  .col-1-of-4 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-2-of-4 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-2-of-4:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 1240px) {
  .col-2-of-4 {
    width: calc(2 * ((100% - (4 - 1) * 2rem) / 4) + (2 - 1) * 2rem);
  }
  .col-2-of-4:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 900px) {
  .col-2-of-4 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-3-of-4 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-3-of-4:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 1240px) {
  .col-3-of-4 {
    width: calc(3 * ((100% - (4 - 1) * 2rem) / 4) + (3 - 1) * 2rem);
  }
  .col-3-of-4:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 900px) {
  .col-3-of-4 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  /* clip-path: polygon(0 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%) */
}
.header__logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 5.6rem;
  height: 7rem;
  -webkit-animation-name: downToUp;
          animation-name: downToUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1;
          animation-delay: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 1240px) {
  .header__box {
    top: 50%;
  }
}

.footer {
  padding: 8rem;
  background: #333333;
}
.footer__logo {
  width: 12rem;
}
.footer__list {
  /* убрать точки */
  list-style: none;
  text-align: center;
}
.footer__item {
  display: inline-block;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.footer__item:not(:last-child) {
  margin-right: 5rem;
}
@media (max-width: 1240px) {
  .footer__item:not(:last-child) {
    margin-right: 1.6rem;
  }
}
@media (max-width: 900px) {
  .footer__item {
    margin: 0;
    padding: 2rem;
  }
}
.footer__link:link, .footer__link:visited {
  color: #777777;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  /* Эфеекты не применимы к inline-элементам, поэтому делаем линки inline-block */
  display: inline-block;
  transition: all 0.3s;
}
.footer__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #A14F03;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}

.section-about {
  padding-top: 8rem;
  margin-bottom: 20rem;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 1240px) {
  .section-about {
    margin-bottom: 13rem;
  }
}
@media (max-width: 900px) {
  .section-about {
    margin-bottom: 40rem;
  }
}

.section-adventure {
  padding: 21rem 0;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/section-adventure.jpg) center/cover no-repeat;
  transform: skewY(3deg);
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.section-adventure > * {
  transform: skewY(-3deg);
}
@media (max-width: 1240px) {
  .section-adventure {
    padding: 15rem 0;
  }
}

.section-tour {
  padding-top: 10rem;
  margin-bottom: 8rem;
}

.section-feedBack {
  padding: 8rem 0rem;
  position: relative;
}

.section-book {
  padding: 10rem;
  background: linear-gradient(90deg, #BA8554, #000000);
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media (max-width: 900px) {
  .section-book {
    padding: 4rem;
  }
}/*# sourceMappingURL=style.css.map */